{% extends 'base.html' %}

{% block content %}

<h1 class="clubsh1">CLUBS LIST</h1>

<!-- Modal Testing - Materialize -->
<!-- Modal Trigger -->
{% if user.user_type == 'M' %}
    <button data-target="modal1" class="btn modal-trigger">Add Club</button>
{% endif %}
          
<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create a Club</h5>
    </div>
    <form action="{% url 'add_club' %}" method="POST">
        <div class="modal-body">
            {% csrf_token %}
            {{ addclub_form.as_p }}
            <div class="modal-footer">
                <button class="btn" type="submit">Submit</button> 
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
        </div>
    </form>

  </div>
</div>

{% if clubs.count > 0 %}
<table>
    <tr>
        <th>Club Name</th>
        <th>Next Meet Date</th>
        <th>Location</th>
        <th>Description</th>
        <th>No. of members</th>
        <th>Creation Date</th>
    </tr>
    {% for club in clubs %}
        <tr>
            <td><a href="{% url 'clubs_detail' club.id %}">{{ club.name }}</a></td>
            <td>{{ club.meet_date }}</td>
            <td>{{ club.get_location_display }}</td>
            <td>{{ club.desc }}</td>
            <td>{{ club.members.count }}</td>
            <td>{{ club.create_date }} </td>
        </tr>
    {% endfor %}
</table>

{% else %}
    <p>-- No clubs --</p>
{% endif %}

<script>
    // const modal = document.querySelectorAll('.modal');
    $(document).ready(function(){
      $('.modal').modal();
    });

    // js needed to show calendar on club creation
    const input = document.getElementById('id_meet_date');
    const datepicker = new TheDatepicker.Datepicker(input);
    datepicker.options.setInputFormat("Y-m-d");
    datepicker.options.setMonthAsDropdown()
    datepicker.render();

    // add JS to initialize select below + include materialize script library to show dropdown of location
    const selectEl = document.getElementById('id_location');
    M.FormSelect.init(selectEl);
</script>


{% endblock %}