{% extends 'base.html' %}
{% block content %}

<h1>Member Detail</h1>

<p>User Type: {{ member.user.get_user_type_display }}</p>
<p>Hi {{ member.user.first_name }}!</p>

<p>full name: {{ member.user.first_name }} {{ member.user.last_name }}</p>
<p>username: {{ member.user.username }}</p>
<p>email: {{ member.user.email }}</p>
<p>address: {{ member.user.address }}</p>

<!-- <ul>
    <li>{{ member.books.all }}</li>
</ul> -->

<h4>RENTED BOOKS for Member ID ({{member.id}}):</h4>
<table>
    <tr>
        <th>Book</th>
        <th>Author</th>
        <th>Key</th>
    </tr>
    {% if member.books.count > 0 %}
        {% for book in member.books.all %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author_name }}</td>
                <td>{{ book.key }}</td>
                <td>
                    <form action="{% url 'unassoc_book' member.id book.key %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn">Return</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
            <tr>
                <td>NO BOOKS RENTED</td>
            </tr>
    {% endif %}
</table>


{% endblock %}