{% load static %}

<!DOCTYPE html>
<html lang="“en”">
  <head>
    <meta charset=“UTF-8">
    <meta http-equiv="“X-UA-Compatible”" content="“IE" ="edge”" />
    <meta name=“viewport” content=“width=device-width, initial-scale=1.0"> <link
    rel=“stylesheet” type=“text/css” href=“{% static 'css/style.css' %}“>
    <title>Union Catalogue</title>
    <nav>
      nav bar here:
      <ul>
        {% if user.user_type == 'M' %}
          <p>hi members</p>
          <li>YOU CAN ONLY SEE THIS IF YOU ARE A LIB MEMBER</li>
        {% endif %}
        {% if user.user_type == 'S' %}
          <p>hi staff</p>
          <li>YOU CAN ONLY SEE THIS IF YOU ARE A STAFF MEMBER</li>
        {% endif %}
        
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
          <li><a href="{% url 'login' %}">Log In</a></li>
          <li><a href="{% url 'signup' %}">Sign Up</a></li>
        {% endif %}  
    </ul>
    </nav>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
