/* The Modal (background) */

.modalCustom {
    position: fixed;
    width: 500px;
    max-height: 100%;
    background-color: rgb(207, 83, 45);
    overflow: auto; 
    z-index: 1;
}
/* Modal Content */
.modal-content-custom {
  padding: 20px;
  width: 100%;
  overflow: auto;
}
.modal-content-custom textarea {
  width: 100%;
}
.modal-content-custom button {
  float: right;
}
/* The Close Button */
#closeAdd {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: end;
}
#closeAdd:hover,
#closeAdd:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}